{% extends 'blogapp/admin/base.html' %}
{% load staticfiles %}
{% load data_load %}
{% block content %}



            <!-- Mobile Menu end -->
            <div class="breadcome-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-list single-page-breadcome">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="breadcome-heading">
                                            <form role="search" class="sr-input-func">
                                                <input type="text" placeholder="Search..." class="search-int form-control">
                                                <a href="#"><i class="fa fa-search"></i></a>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <ul class="breadcome-menu">
                                            <li><a href="#">Home</a> <span class="bread-slash">/</span>
                                            </li>
                                            <li><span class="bread-blod">Static Table</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        <!-- Static Table Start -->
        <div class="static-table-area">
            <div class="container-fluid">
                <div class="row">
                    

                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="sparkline8-list">
                            <div class="sparkline8-hd">
                                
                            </div>
                            <div class="sparkline8-graph">
                                <div class="static-table-list">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                
                                                <th > নং</th>
                                                <th >অধ্যায়</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for table in chapter_list %}
                                                <tr> 
                                                    <td>{{ forloop.counter}}</td>
                                                   <td><a href="/improvement/{{table.classsubject.classes.name|str2url}}/{{table.classsubject.subject.name|str2url}}/{{table.chapter.name|str2url}}/">{{table.chapter.name}}</a></td>
                                                    
                                                    
                                                </tr>
                                            {% endfor %}  
                                           
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                




                </div>
            </div>
        </div>
{% endblock %}