{% extends 'blogapp/admin/base.html' %}
{% load staticfiles %}
{% load data_load %}
{% block content %}

        <!-- Static Table Start -->
        <div class="data-table-area mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="sparkline13-list">
                            <div class="sparkline13-hd">
                                <div class="main-sparkline13-hd">
                                    <h1>Select <span class="table-project-n">Topic</span> </h1>
                                </div>
                            </div>
                            <div class="sparkline13-graph">
                                <div class="datatable-dashv1-list custom-datatable-overright">
                                    <div id="toolbar">
                                        <select class="form-control dt-tb">
											<option value="">Export Basic</option>
											<option value="all">Export All</option>
											<option value="selected">Export Selected</option>
										</select>
                                    </div>
                                    <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
                                        data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                                        <thead>
                                            <tr>
                                                
                                                <th > No</th>
                                                <th >Topic</th>
                                                {% comment %} <th data-field="phone" data-editable="true">অধ্যায়</th>       
                                                <th data-field="task" data-editable="true">শ্রেণি</th>
                                                <th data-field="date" data-editable="true">উত্তর দিয়েছেন</th>
                                                <th data-field="price" data-editable="true">সময় নিয়েছেন</th>
                                                <th data-field="action">ঠিক/ভুল</th> {% endcomment %}
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for table in subjectsre %}
                                                <tr> 
                                                    <td>{{ forloop.counter}}</td>
                                                   <td><a href="/sub-result/{{table.classes.name|str2url}}/{{table.subject.name|str2url}}/">{{table.subject.name}}</a></td>
                                                    
                                                    
                                                </tr>
                                            {% endfor %}      
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}